@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Welcome to Staff Management System.</h1>

<p>This is a simple CRUD application built with Blazor Server and Entity Framework Core.</p>

<p>
    <a class="btn btn-primary" href="/staff">View Staff Informations</a>
</p>


